# Dependencias de Node.js
node_modules/

# Directorio de dependencias generadas por npm
package-lock.json

# Archivos de entorno y credenciales
.envg

# Baileys Auth Info (Para el bot de WhatsApp)
/auth_info